html{
    max-width: 1000px;
    margin: auto;
    text-shadow: 1px 1px rgba(117, 117, 117, 0.5);
}
a {
    text-decoration: none;
    font-weight: 600;
}
.sentence-link{
    color: black;
    text-decoration: none;
}
.sentence-link:hover{
    color: rgb(210,126,204);
    transition: all 0.3s ease;
    text-decoration: none;
}
body{
    background: rgba(173, 209, 174, 0.5);
    color: #000000;
    font-size: 25px;
    line-height: 1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    background: rgb(95, 193, 100);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
nav h1{
    font-family: 'Merienda', cursive;
    padding: 0 15px;
    flex-grow: 5;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
nav a{
    flex-grow:1;
    text-align: center;
    color: white;
    transition: all 0.3s ease;
}
nav a:hover{
    color: rgb(210,126,204);
    transition: all 0.3s ease;
    text-decoration: none;
}
header{
    background: rgb(95, 193, 100);
    border-bottom: 2px solid rgba(240, 240, 240, .6);
    padding-top: 5px;
}
main{
    line-height:1.1;
    padding: 5px
}
object{
    margin-top:20px;
}
#headshot{
    vertical-align: initial;
    height: 150px;
    width: 150px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    box-shadow: 3px 3px rgba(105, 105, 105, 0.5);
}
.sm-links{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.sm-links li{
    margin: 0 5px;
    transition: all 0.3s ease;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    list-style-image: url(./images/ul.png)
}
.skills li{
    flex-basis: 30%;
    margin: 5px;
}
.bounce:hover { 
    animation: bounce 1s; 
}
.info{
    margin-top: 25px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
.indent{
    text-indent: 32px;
}
hr{
    background: rgba(210, 126, 205, 0.2);
}
@keyframes bounce {
	  0% { transform: rotate(  0deg) scale(1.0); }
	 33% { transform: rotate( 12deg) scale(1.2); }
	 67% { transform: rotate(-12deg) scale(0.8); }
	100% { transform: rotate(  0deg) scale(1.0); }
}
.project-title {
    font-family: 'Merienda', cursive;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
.project-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    box-shadow: 3px 3px rgba(105, 105, 105, 0.5);
    float: left;
    margin: 10px 10px 2px 5px;
}
p{
    letter-spacing: 1px;
    margin: 15px 0;
}
.projects{
    margin-top: 25px;
}
.first:first-letter{
    font-weight: bold;
    float: left;
    color: rgb(210,126,204);
    font-size: 200%;
    letter-spacing: 3px;
}
.project {
    margin:15px 5px 25px;
}
#banner{
    width: 750px;
    font-size: 30px;
    margin: 0 15px;
    display: inline-block;
    text-align: center;
    color: rgb(95, 193, 100);
    text-shadow: none;
    background: rgb(95, 193, 100);
}
#banner p{
    display: inline;
    font-size: 20px;
    letter-spacing: 2px;
}
#h{
    animation: animate 1.8s infinite;
    animation-delay: 0s;
}
#e
{
    animation: animate 2s infinite;
    animation-delay: .15s;
}
#l
{
    animation: animate 2.3s infinite;
    animation-delay: .3s;
}
#l2
{
    animation: animate 3s infinite;
    animation-delay: .45s;
}
#o
{
    animation: animate 2.6s infinite;
    animation-delay: .6s;
}
#w
{
    animation: animate 3.25s infinite;
    animation-delay: .75s;
}
#o2
{
    animation: animate 2.9s infinite;
    animation-delay: .9s;
}
#r
{
    animation: animate 3.05s infinite;
    animation-delay: 1.05s;
}
#l3
{
    animation: animate 3.2s infinite;
    animation-delay: 1s;
}
#d
{
    animation: animate 3s infinite;
    animation-delay: 1.35s;
}
@keyframes animate
{
    0%
    {
        color: rgb(226, 51, 215);
    }
    50%
    {
        color: rgb(95, 193, 100)
    }
    100%{
        color: rgb(95, 193, 100)
    }
}
